.Footer {
  position: fixed; bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #c70606; 
  color: white;
  height: 100px;
  padding-bottom: 20px;

}

.Links{
  margin-top: 30px;
}

.Links {
  list-style: none;
  display: flex;
}

.Links li a {
  color: white;
  font-size: large;
  text-decoration: none;
  margin-right: 20px;
}

.Links li a:hover{
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.8);
}
.Icons{
  list-style: none;
  display: flex;
}
.Icons li a{
  color: white;
  margin-right: 20px;
  font-size: x-large
}

.Icons li a:hover{
  transition: 0.5s;
  color: rgba(0, 0, 0, 0.8);
}