
<div class="home">
    <mat-card class="card">
        <mat-card-content>
            <img src="assets/classroom-resized.png" alt="Classroom" class="class-img">
        </mat-card-content>
    
        <mat-card-header>
            <mat-card-title>Search Room</mat-card-title>
            <mat-card-subtitle>Are you looking for a free room?</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-content>
            <button mat-raised-button class="search-button" routerLink="/search-room">Search</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-card-content>
            <img src="assets/classroom-resized.png" alt="Classroom" class="class-img">
        </mat-card-content>
    
        <mat-card-header>
            <mat-card-title>Room Timetable</mat-card-title>
            <mat-card-subtitle>Are you looking for the timetable of a room?</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-content>
            <button mat-raised-button class="search-button" routerLink="/lookup-room">Lookup</button>
        </mat-card-content>
    </mat-card>
</div>