.container {
  margin: 50px auto;
  text-align: center;
}

.dropdown {
  width: 100%;
  margin-bottom: 20px;
}

label {
  display: none; /* Titel ausblenden */
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  background-color: #f2f2f2; /* Hellgraue Hintergrundfarbe */
  border: none; /* Kein Rahmen */
  border-radius: 5px; /* Abgerundete Ecken */
}
