.container {
  margin: 50px auto;
  text-align: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

label {
  align-self: flex-start;
}

select, button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
}

.container {
  font-family: Arial, sans-serif;
}

.dropdown {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

select:hover, button:hover {
  background-color: #ddd;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.popup h3 {
  margin-top: 0;
}

.time-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-height: 200px; /* Maximale Höhe für die Uhrzeiten festlegen */
  overflow-y: auto; /* Vertikales Scrollen ermöglichen */
}

button {
  width: 100%;
}

.date-picker {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .container {
    margin-bottom: 60px; /* Platz für den Footer */
  }

  .popup {
    width: 90%; /* Breite des Popups für kleinere Bildschirme anpassen */
    max-height: 90%; /* Maximalhöhe des Popups anpassen */
    overflow-y: auto; /* Scrollen ermöglichen, wenn Inhalt zu groß ist */
  }
}
