
<div class="footer">
    <ul class="links">
        <li>Impress</li>
        <li>Privacy</li>
        <li>Terms</li>
    </ul>

    <ul class="icons">
        <li><a href="https://www.instagram.com/officialhwrberlin/"><img src="assets/brand-instagram.svg" alt="Instagram Icon" class="insta-icon"></a></li>
        <li><a href="https://www.youtube.com/channel/UCl91CT5O62lr8JFIdozM7zw"><img src="assets/brand-youtube.svg" alt="YouTube Icon" class="youtube-icon"></a></li>
        <li><a href="https://twitter.com/HWR_Berlin"><img src="assets/brand-x.svg" alt="Twitter Icon" class="brand-icon"></a></li>
        <li><a href="https://www.facebook.com/officialHWRBerlin/?locale=de_DE"><img src="assets/brand-facebook.svg" alt="Facebook" class="facebook-icon"></a></li>
    </ul>
</div>